<html>
<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
     {{>header}}
    <h1>From About</h1>
    <img src="./img/IMG-20190703-WA0000.jpg" alt="cant load">
    {{>footer}}
</body>
</html>
 