<!DOCTYPE html>
<html lang="en">
<head>
    
     <link rel="stylesheet" href="/css/style.css">
     
</head>
<body>
    {{>header}}<br>
    <form >
    <input type="text" placeholder="Enter Location" style="margin-top: 40px;">
    <button type="submit" >search</button>
     <p  id="msg-1"></p>
    <p  id="msg-2"></p>
    </form>
   
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>    